<!DOCTYPE html>
<html ng-app="whaleatory">
<head>

    <link href='css/site.css' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Sansita+One' rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.12/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.1.0/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.0.12/angular-google-maps_dev_mapped.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/gmapController.js"></script>

    <title>whaleatory!</title>
<style>
    .angular-google-map-container { height: 700px; width: 100%; }

</style>
</head>
<body ng-controller="gmapController">
<div class="row">
    <div class="col-lg-1" ></div>
    <div class="col-lg-7" style="text-align: center;font-family: 'Sansita One', cursive;font-size:30pt" >
        Location
    </div>
    <div class="col-lg-3" style="text-align: center;font-family: 'Sansita One', cursive;font-size:30pt">
        Details
    </div>
    <div class="col-lg-1" ></div>
</div>
    <div class="row">
        <div class="col-lg-1" ></div>
        <div class="col-lg-7" >
            <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                <ui-gmap-marker  options="marker.options" icon="marker.species.icon" ng-repeat="marker in markers" coords="marker.pos" idkey="marker._id">
                    <ui-gmap-window options="marker.windowOptions" closeClick="closeClick()">
                        <div>{{marker.species.name}} - {{marker.species.comment}}</div>
                    </ui-gmap-window>
                </ui-gmap-marker>
            </ui-gmap-google-map>
        </div>
        <div class="col-lg-3" >
            <table class="table table-normal">
                <thead>
                <tr>
                    <th>Comment</th>
                    <th>Species</th>
					<th>Time</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="marker in markers">
                    <td>{{marker.comment}}</td>
                    <td>{{marker.species.name}}</td>
                    <td>{{marker.time}}</td>
                </tr>
                </tbody>
            </table>
             <a ng-href="addobservation.html">Add observation</a>
        </div>
        <div class="col-lg-1" ></div>

    </div>


</body>
</html>
